html {
  overflow-y: scroll;
}

body {
  background: white;
}

.app {
  margin: 20px;
}

th {
  text-transform: capitalize;
}

main {
  overflow: hidden;
}

.entityNameFilter {
  width: 20em;
}

label {
  text-transform: capitalize;
}

input, select, .Select {
  max-width: 30em;
}

.removeButton {
  margin-left: 0.2em;
  display: inline-block;
  cursor: pointer;
}

.editEntity {
  /* react-select component needs space to open */
  padding-bottom: 7em;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
}

.entityList {
  /* Make room for filter select */
  min-height: 30em;
}